{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<head>
    <meta name="description" content="Profile Page">
    <title>
        {% block title %} Profile Page by {{author}} {% endblock %}
    </title>
</head>
<div class='wrapper'>
<h4 class="main-title">Profile</h4>
{% for data in profile %}
<div class="content-wrapper">
    <br/>
    <br/>
    <section class="profile-header">
        <img class="img-circle" src="{% static 'David-Bowie.jpg' %}" style="height:120px;widht:120px">
        <h3>{{ data.name }}</h3>
    </section>
    <br/>
    <br/>
    <section class="section-profile-table">
    <div class="profile-table">
        <table align="left" style="text-align: left">
            <tr>
                <td>Birthday</td>
                <td>{{ data.birthday | date:"M d" }}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{ data.gender }}</td>
            </tr>
            <tr>
                <td>Expertise</td>
                <td>
                {% for expertise in data.expertise.all %}
                    <div class="expertise">
                        {{ expertise.name }}
                    </div>
                {% endfor %}
                </td>
            </tr>
                <td>Description</td>
                <td>{{ data.description }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ data.email }}</td>
            </tr>
        </table>
    </div>
    </section>
</div>
{% endfor %}
</div>
{% endblock %}
