th, td {
    padding: 5px;
    padding-right: 30px;
    text-align: left;
}

body{
  margin-top: 30px;
  width: 100%;
  /*background-color: #b7cc90;*/
}

.main-title{
  text-align: left;
  padding-left: 11%;
  margin: 10 10 30 10%;
}

.wrapper{
    padding-top: 50px;
    /*display: flex;
    flex-direction: column;*/
    min-height: 90vh;
}

/* ---------------------------- UPDATE STATUS ----------------------------*/
.status-table {
    padding-right: 30px;
    text-align: left;
    padding: 0px;
}

/* ---------------------------- PROFILE ----------------------------*/
.img-circle {
    border-radius: 50%;
}

.expertise {
    background-color: #e0e2e5;
    border-width: thin;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    display: inline-block;
}

.content-wrapper {
    display: table-cell;
    width: 100%;
    height: 250px;
    float: left;
    text-align:center;
    position:relative;
}

.profile-header{
    margin: 0 auto;
    display:inline-block;
}

.profile-table{
    margin: 0 auto;
    display: inline-table;
}

.section-profile-table{
  width: 100%;
}

/* ---------------------------- STATS ----------------------------*/
.stats-name {
    float: right;
    padding-left: 35px;
    display: table-cell;
    vertical-align: middle;
}

.stats-header{
    float: left;
    padding-left: 15%;
    display: flex;
    align-items: center; /* align vertical */
    width: 80%;
}

#stats-div-header{
    width: 100%;
    height: 180px;
    padding-bottom: 0px;
    display: flex;
}

.img-circle-stats {
    border-radius: 50%;
    float: left;
    display: table-cell;
}

.stats-table{
    margin: 0 auto;
    display: inline-table;
    width: 40%;
}

.friend-table{
    float:left;
}

.latest-table {
    float:right;
}

/* ---------------------------- TIMELINE ----------------------------*/
.box{
    margin:0;
    min-height: 100px;
    overflow: hidden;
    overflow: hidden;
    padding: 0;
}

.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed black;
    position: absolute;
    top:0;
    left:5px
}

.box ul li{
    margin: 0px 30px;
    position: relative;
    padding: 5px;
    margin-right: 0px;
    background:transparent;
    color:black;
    border-radius: 10px;
    line-height: 20px;
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #e8eaed;
    position: absolute;
    top:0;
    left:-25px
}

.box ul li > span:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:white;
    border:2px solid #6f95ce;
    position: absolute;
    left:-5px
}

.box ul li > span:before{top:10px}

.box .title{
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
}

/* ---------------------------- ADD FRIEND ----------------------------*/
.body-addfriend{
    height: 92%;
    background-position: center;
}

.card {
    background: rgba(51, 51, 51, 0.1);
    margin-top: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
 }

.friend{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.friend:hover {
  box-shadow:0 10px 10px 12px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 10px 10px 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 10px 12px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 10px 10px 12px rgba(0, 0, 0, 0.2);

  transform: translate(0, -5px);
  -webkit-transform: translate(0, -5px);
  -moz-transform: translate(0, -5px);
  -o-transform: translate(0, -5px);
}

.friend:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}

.rounded{
  max-height: 10rem;
}

.friend .friend-name {
  font-size: 25px;
  font-weight: 700;
  padding: 10px 10px 0;
  font-family: Goudy Old Style;
}
.friend .friend-date-added {
  font-size: 12px;
  padding: 0 10px;
}
.friend .friend-url {
  padding: 0px 25px;
  z-index: 15;
  background: #fff;
  height: 70px;
  text-align: justify;
  overflow: auto;
}
.friend .friend-delete {
  background: #6796D5;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.friend:hover .friend-delete {
  bottom: -50px;
}

@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }
  .friend .friend-delete {
   bottom: -50px;
  }
}

/* ---------------------------- NAVBAR ----------------------------*/

.navbar {
    overflow: hidden;
    background-color: transparent;
    border: 0;
    position: absolute;
    z-index:99;
    width:100%;
}

.dropdown {
    float: left;
    overflow: visible;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    position:relative;
}

.navbar-default li:hover, .dropdown:hover .dropbtn {
    background-color: #eaecef;
}

.dropdown-content {
    display: none;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-nav li a {
 line-height: 30px;
}

/* ---------------------------- FLEX ----------------------------*/
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: middle;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
}
.flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
}

/* ---------------------------- FOOTER ----------------------------*/
footer p {
    padding-top: 0px;
    padding-bottom: 30px;
    bottom:0px;
    margin: 0 auto
    position: absolute;
    text-align: center;
    flex: 0 0 50px;
    margin-top: auto;
}

footer {
    position:relative;
    height: auto;
}

/* ---------------------------- RESPONSIVE CSS ----------------------------*/
@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }

  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }

  .wrapper{
      padding-top: 0px;
  }

  .navbar{
      position: relative;
      z-index:99;
      width:100%;
  }

  ul.nav li.dropdown:hover > ul.dropdown-menu
    {
       display: block;
    }

    .latest-table {
        clear: both;
        width:100%;
    }

    .friend-table{
        clear: both;
    }

    .stats-table{
        margin: 0 auto;
        display: inline-table;
        min-width: 45%;
        overflow: hidden;
    }
}
