{% extends "layout/base.html" %}
{% block content %}
<head>
    <meta name="description" content="Profile Page">
    <title>
        {% block title %} Update Status by {{author}} {% endblock %}
    </title>
</head>
<div class='wrapper'>
<section style="margin-left:10%">
<section name="update_status">
    <h2>Update Status</h2>
    <form id="form" method="POST" action="{% url 'status:add_status' %}">
        {% csrf_token %}
        {{ Status_Form }}
        <br>
        <button type="submit" class="btn btn-default">Post</button>
        <br/>
        <br/>
    </form>
</section>
<section name="status">
    {% if status %}
    {% for i in status reversed%}
    <table>
        <tr>
            {% for data in profile %}
            <td class='status-table'> <h4> {{data.name}} </h4> </td>
            {% endfor %}
        <tr>
            <td class='status-table'> {{i.message}} </td>
        </tr>
        <tr>
            <td class='status-table'> {{i.date}} </td>
        </tr>
    </table>
    <br/>
    {% endfor %}
    {% else %}
    {% endif %}

</section>
</section>
<hr/>
</div>
{% endblock %}
