{% load staticfiles %}
{% load static %}
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="{% url 'status:index' %}">Gitrekt</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse" style='float:right'>
     <ul class="nav navbar-nav">
       <li class="dropdown" style='float:right'>
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
           <img src="{% static 'David-Bowie.jpg' %}" class="profile-image img-circle" style='height:30px;width:30px'>   <b class="caret"></b></a>
           <!-- <button class="dropbtn">Dropdown
             <b class="caret"></b></i>
           </button> -->
           <div class="dropdown-content">
             <a href="{% url 'profile:index' %}">Profile</a>
             <a href="{% url 'stats:index' %}">Stats</a>
           </div>
       </li>
       <li style='float:right'><a href="{% url 'friend:index' %}">Friend</a></li>
       <li style='float:right'><a href="{% url 'status:index' %}">Status</a></li>
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</nav>
