{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<head>
    <meta name="description" content="Statistics Page">
    <title>
        {% block title %} Dashboard by {{author}} {% endblock %}
    </title>
</head>
<div class='wrapper'>
<h4 class="main-title">Statistic</h4>
{% for data in profile %}
<div class="content-wrapper">
    <div class='flex' id='stats-div-header'>
    <section class='stats-header'>
        <img class='img-circle-stats' src="{% static 'David-Bowie.jpg' %}" style="height:120px;widht:120px">
        <h2 class="stats-name">{{ data.name }}</h2>
    </section>
    </div>
    <section class=section-stats-table>
    <div class=stats-table>
        <div class=friend-table>
            <table align="left" style="text-align: left">
                <tr>
                    <td>Friends</td>
                    <td>{{ friend }}</td>
                </tr>
                <tr>
                    <td>Feed</td>
                    <td>{{ status }}</td>
                </tr>
            </table>
        </div>
        <div class=latest-table>
            <table align="left" style="text-align: left">
                <tr>
                    <td>Latest Post</td>
                </tr>
                <tr>
                    <td>
                    {% if latest %}
                    <div class="box">
                        <ul id="first-list">
                            <li>
                                <span></span>
                                <div class="title">{{ latest.date }}</div>
                                <div class="info">{{ latest.message }}</div>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="box">
                        <ul id="first-list">
                            <li>
                                <span></span>
                                <div class="info">None.</div>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                    </td>
                </tr>

            </table>
        </div>
    </div>
    </section>
</div>
{% endfor %}
</div>
{% endblock %}
