{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<head>
    <meta name="description" content="Profile Page">
    <title>
        {% block title %} Add Friend by {{author}} {% endblock %}
    </title>
</head>
<div class='wrapper'>
<body class='body-addfriend'>
<style>
    #button {
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    #button:hover {
        background-color: #82ABDC;
        color: white;
    }
    input[type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid Black;
    border-radius: 12px;
    color: black;
    }
    input[type=text]:focus {
    border: 3px solid #555;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h1> Add Friend </h1>
            <form method="POST" action="{% url 'friend:addFriend' %}">
            {% csrf_token %}
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title"> Name </h5>
                        <input type="text" class="form-control" name="name" id="name" required="required"/>
                    <h5 class="card-title"> URL </h5>
                        <input type="text" class="form-control" name="url" id="url" required="required"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right" id="button">Add Friend</button>
            </form>
        </div>
        <div class="sol-sm-5">
        </div>
    </div>
</div>

<div class="row">
    <div class = container>
        <div class="flex">
            {% if friends %}
                {% for data in friends reversed %}
                    <div class="flex-item">
                        <div class="friend">
                            <div class="friend-name">
                                {{data.name}}
                            </div>
                            <div class="friend-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="friend-url">
                                <a href="{{ data.url }}">{{data.url}}</a>
                            </div>
                            <div class="friend-delete">
                                <div class="friend-delete-button" data-id="{{data.id}}">Delete</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Empty</strong>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="application/javascript">
    $(function() {
        $('.friend-delete-button').click(function() {
            var id = $(this).data('id')
            location.href = "/friend/delete/" + id + "/"
        });
    });
    </script>

    <!-- List all previous status -->
    <div class="container stasuses">
        {% for i in status reversed %}
            <div class="flex-item">
                <h5> {{ i.user.name }} </h5>
                {{ i.friend }} <br/>
                <sub> {{ i.date }} </sub>
            </div>
        {% endfor %}
    </div>
<br>
<br>
</body>
</div>
{% endblock %}
